<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console _name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd.MMM.yy HH:mm:ss.SSS} - %m%n"/>
        </Console>
        <File _name="DebugFile" fileName="logs/debug.log" immediateFlush="false" append="true">
             <PatternLayout pattern="[%-5level] %d{dd.MMM.yy HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </File>
         <File _name="ErrorFile" fileName="logs/error.log" immediateFlush="false" append="true">
             <PatternLayout pattern="[%-5level] %d{yyyy-MMM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </File>
        <File _name="InfoFile" fileName="logs/info.log" immediateFlush="false" append="true">
            <PatternLayout pattern="[%-5level] %d{yyyy-MMM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="DebugFile" level="trace"/>
            <AppenderRef ref="ErrorFile" level="warn"/>
            <AppenderRef ref="InfoFile" level="info"/>
        </Root>
    </Loggers>
</Configuration>